mixin section4(data)
    #section4.section4
        .container
            h2.section4__title Описание бизнес-тренинга
            .section4__text-wrap
                p Одним из важнейших условий успешных финансовых инвестиций является наличие эффективных и проработанных методик инвестирования в различные инструменты на мировых финансовых рынках.
                p В рамках бизнес-тренинга «Прибыль без лишних слов» всем участникам будут предложены уникальные авторские решения и методики по составлению индивидуального плана по финансовым инвестициям.
