mixin section6(data)
    .section6
        .container
            .section6__title Что получит участник курса
            .section6__item-wrap
                .section6__item.section6__item1
                    p Узнает зачем нужен личный финансовый план и какие активы следует выбрать для инвестирования
                .section6__item.section6__item2
                    p Узнает о том, как использовать комбинацию инвестиционных подходов в реальных условиях
                .section6__item.section6__item3
                    p Узнает о том, какие направления инвестирования будут актуальны в 2017-2018 гг.
            span.btn.section6__btn ЗАПИСАТЬСЯ на курс
