.section6
    display block
    width 100%
    min-height 404px
    background #f9f9f9
    padding-top 55px
    padding-bottom 70px
    @media (max-width: 760px)
        padding-bottom 40px
        padding-top 35px
    &__title
        display block
        text-align center
        font-size 38px
        font-weight 700
        line-height 38px
        padding-bottom 58px
        @media (max-width: 959px)
            padding-bottom 0
        @media (max-width: 760px)
            font-size 22px
            line-height 23px
    &__item-wrap
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        justify-content space-between
        padding-bottom 64px
        @media (max-width: 959px)
            flex-direction column
            justify-content flex-start
            padding-bottom 0
    &__item
        display block
        width 374px
        padding-left 101px
        position relative
        @media (max-width: 1215px)
            width 32.5%
            padding-left 90px
        @media (max-width: 959px)
            width 480px
            margin-left auto
            margin-right auto
            padding-top 40px
            padding-bottom 40px
            padding-left 100px
        @media (max-width: 760px)
            padding-left 89px
            width 100%
    &__item1
        display block
        &:before
            position absolute
            content ''
            top 0
            left 0
            width 75px
            height 70px
            background url('../img/general/con1.svg') no-repeat center
            @media (max-width: 959px)
                top 50%
                transform translateY(-50%)
    &__item2
        display block
        &:before
            position absolute
            content ''
            top 0
            left 0
            width 76px
            height 77px
            background url('../img/general/con2.svg') no-repeat center
            @media (max-width: 959px)
                top 50%
                transform translateY(-50%)
    &__item3
        display block
        &:before
            position absolute
            content ''
            top 5px
            left 5px
            width 75px
            height 60px
            background url('../img/general/con3.svg') no-repeat center
            @media (max-width: 959px)
                top 50%
                transform translateY(-50%)
    &__btn
        width 370px
        margin-left auto
        margin-right auto
        @media (max-width: 760px)
            width 296px
