mixin footer(data)
    footer.footer
        .container
            .footer__wrap
                .footer__logo
                    .footer__logo-pic
                        img(src="static/img/general/Logo.svg", alt="logo")
                .footer__adress-wrap
                    .footer__adress-wrap2
                        .footer__adress г. Москва, Пресненская наб., 8, стр.1
                        span.footer__link Политика конфиденциальности
                .footer__phone-wrap
                    .footer__phone-wrap2
                        .section9__phone 8 (800) 707-78-72
                        .footer__email invest@mfc.group
                .footer__social-wrap
                    .footer__social-wrap2
                        a.footer__yt(href="#")
                        a.footer__fb(href="#")
                        a.footer__inst(href="#")
            .footer__wrap2 Все предоставленные данные шифруются согласно стандарту SSL. Это гарантирует надежную защиту Ваших персональных данных
