mixin section9(data)
    .section9
        .section9__text-wrap
            .section9__title О компании
            .section9__text
                p «Международный финансовый центр» — это команда высококвалифицированных консультантов и экспертов в вопросах инвестирования. Основными направлениями деятельности компании являются финансовое планирование, консультирование по вопросам инвестирования, риск-менеджмент и индивидуальное сопровождение финансов.


                p Компания не раз завоевывала награды от индустрии: в 2016-м году центр стал лауреатом премии «Финансовый Олимп» в номинации «Надежный финансовый консультант», а в 2017 получил «Золотого феникса», одержав победу в номинации «Полноценное сопровождение инвестиций». Кроме того, в 2017-м году компания стала обладателем премии Investor Awards в номинации «Эффективность инвестиционных стратегий». Из последних достижений стоит отметить получение престижной награды «Финансовая элита России» в номинации «Эффективный инвестиционный консалтинг» в июле 2017 года.
        #map.section9__map

            .section9__window
                .section9__window-pic
                    img(src="static/img/general/section9.jpg" alt="user-picture")
                .section9__adress-wrap
                    .section9__adress г. Москва, Пресненская наб., 8, стр.1
                    .section9__phone 8 (800) 707-78-72
                    .section9__hours
                        | Пн-Сб
                        span  9:00 - 20:00
                        | Вс
                        span 10:00 - 19:00
                    .btn.section9__btn Связаться
