.section9
    display block
    width 100%
    background #fcfcfb
    padding-top 55px
    @media (max-width: 959px)
        padding-top 50px
    @media (max-width: 760px)
        padding-top 36px
    &__text-wrap
        display block
        width 100%
        max-width 1170px
        margin-left auto
        margin-right auto
        position relative
        padding-left 300px
        padding-bottom 54px
        @media (max-width: 1215px)
            padding-right 30px
            padding-left 340px
        @media (max-width: 959px)
            padding-left 210px
            padding-bottom 44px
        @media (max-width: 760px)
            padding-bottom 26px
            padding-left 12px
            padding-right 12px

        &:after
            position absolute
            content ''
            top 11px
            left 0
            width 272px
            height 199px
            background url('../img/general/section9.png') no-repeat center
            @media (max-width: 1215px)
                left 30px
            @media (max-width: 959px)
                width 160px
                height 117px
                background-size cover
            @media (max-width: 760px)
                display none
    &__title
        display block
        font-size 38px
        line-height 38px
        font-weight 700
        padding-bottom 27px
        @media (max-width: 959px)
            font-size 28px
            line-height 28px
            padding-bottom 17px
    &__text
        display block
        p
            display block
            margin-bottom 10px
    &__map
        display block
        position relative
        width 100%
        height 680px
        @media (max-width: 760px)
            height 475px
    &__window
        display block
        position absolute
        top 15%
        left 61.5%
        width 370px
        height 470px
        box-shadow 0 0 20px rgba(0, 0, 0, 0.2)
        border-radius 3px
        overflow hidden
        border 1px solid #e3e3e3
        background-color #ffffff
        z-index 10
        @media (max-width: 959px)
            width 340px
            height auto
            left auto
            right 30px
        @media (max-width: 760px)
            width 296px
            height auto
            right 50%
            transform translateX(50%)
            top auto
            bottom 12px
    &__window-pic
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content center
        align-items center
        width 100%
        max-height 253px
        overflow hidden
        @media (max-width: 760px)
            display none
        img
            width 100%
            max-width 100%
            object-fit cover
    &__adress-wrap
        display block
        padding 24px 36px 31px 33px
        @media (max-width: 959px)
            padding 24px 28px 31px 28px
        @media (max-width: 760px)
            padding 20px
    &__adress
        display block
        font-weight 700
        padding-bottom 10px
        @media (max-width: 760px)
            font-size 14px
    &__phone
        display block
        font-weight 700
        padding-left 23px
        padding-bottom 10px
        position relative
        &:after
            position absolute
            content ''
            top 5px
            left 0
            width 13px
            height 13px
            background url('../img/general/phone2.svg') no-repeat center
    &__hours
        font-weight 700
        padding-left 22px
        padding-bottom 26px
        position relative
        white-space nowrap
        @media (max-width: 959px)
            padding-bottom 22px
        @media (max-width: 760px)
            font-size 13px
            padding-bottom 12px
        span
            color #7f7f7f
            font-weight 400
            padding-left 2px
            &:first-child
                padding-right 37px
                @media (max-width: 959px)
                    padding-right 26px
        &:after
            position absolute
            content ''
            top 5px
            left 0
            width 13px
            height 13px
            background url('../img/general/contact.svg') no-repeat center
