mixin section7(data)
    .section7
        .container
            .section7__title Результаты наших учеников
            .section7__slider
                .section7__slide
                    .section7__content-wrap
                        .section7__pic
                            img(src="static/img/general/stepan.jpg" alt="user-picture")
                        .section7__text-wrap
                            .section7__heading Благодарность «Академии МФЦ»
                            .section7__text-wrap2
                                .section7__user-name Степан
                                .section7__user-time
                                    |  Срок
                                    span 12 месяцев
                                .section5__ratio.section7__ratio Сложность
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                .section7__course Курс «Личные финансы. Основы планирования и управления капиталом»
                    .section7__text-wrap3
                        p Для меня, начинающего инвестора, рынок ценных бумаг – это лес дремучий. Я только месяц в теории разбирался: акции, облигации, индексы, контракты, счета разные. Сложно без соответствующего образования. Очень рад, что смог попасть на курс обучения "Основам планирования и управления капиталом" от Н.А. Ширяева. Я стал увереннее ориентироваться в среде и более точно интерпретировать новости о рынке и основных факторах, влияющих на котировки, научился распоряжаться своими финансами. Считаю, что мне очень повезло - с первого раза так удачно попасть на профессионалов.
                .section7__slide
                    .section7__content-wrap
                        .section7__pic
                            img(src="static/img/general/igor.jpg" alt="user-picture")
                        .section7__text-wrap
                            .section7__heading Благодарность «Академии МФЦ»
                            .section7__text-wrap2
                                .section7__user-name Игорь
                                .section7__user-time
                                    |  Срок
                                    span 12 месяцев
                                .section5__ratio.section7__ratio Сложность
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                .section7__course Курс «Личные финансы. Основы планирования и управления капиталом»
                    .section7__text-wrap3
                        p Хотел инвестировать в драг. металлы. Сейчас тенденция предсказуемая, можно было бы, как минимум опередить инфляцию, а как максимум хорошо заработать за год. Однако не решался сам начинать. Мне очень понравилось, как Николай Ширяев рассказывал про выбор надежных активов для инвестирования. Он же оценил обстановку с моим портфелем, описал риски, дал список брокеров на выбор, все задокументировал, предусмотрел. У него есть награды за полноценное сопровождение инвестиций, так что я ему доверяю.
                .section7__slide
                    .section7__content-wrap
                        .section7__pic
                            img(src="static/img/general/alex.jpg" alt="user-picture")
                        .section7__text-wrap
                            .section7__heading Благодарность «Академии МФЦ»
                            .section7__text-wrap2
                                .section7__user-name Алексей
                                .section7__user-time
                                    |  Срок
                                    span 12 месяцев
                                .section5__ratio.section7__ratio Сложность
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale

                                .section7__course Курс «Личные финансы. Основы планирования и управления капиталом»
                    .section7__text-wrap3
                        p «Большому кораблю - большое плавание!» подумал я и решил инвестировать свой резерв, накапливаемый уже пять лет, в акции. За советом – к экспертам Международного финансового центра. Николай Александрович Ширяев мне очень помог, внес ясность в неопределенные моменты, позже я прослушал его курсы по основам планирования и управления капиталом и про инновационные методы в инвестировании. Очень увлекательно, просто, доступно и понятно. Я для себя выбрал сбалансированную стратегию и уже имею доходность 7% в месяц. Я уверен, что сделал правильный выбор.
                .section7__slide
                    .section7__content-wrap
                        .section7__pic
                            img(src="static/img/general/dima.jpg" alt="user-picture")
                        .section7__text-wrap
                            .section7__heading Благодарность «Академии МФЦ»
                            .section7__text-wrap2
                                .section7__user-name Дмитрий
                                .section7__user-time
                                    |  Срок
                                    span 12 месяцев
                                .section5__ratio.section7__ratio Сложность
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                .section7__course Курс «Личные финансы. Основы планирования и управления капиталом»
                    .section7__text-wrap3
                        p Мои инвестиции сопровождают опытные финансисты МФЦ, такие как Николай Ширяев. Я не расслабляюсь, но они все равно оказываются на шаг впереди, быстрее реагируют на рынок, вносят корректировки в мою стратегию, рекомендуют верные решения. Чтобы я быстрее ориентировался в происходящем, посетил его лекции на тему: выбор надёжных и прибыльных активов. Методика принятия торгового решения. Впечатлило! Ассы в инвестициях! Поверьте! У него и награды есть за Эффективность инвестиций. В общем, я только начал осваивать это бурное мре, пойду к нему еще на другие лекции. Присоединяйтесь, будет интересно!
