mixin top-slider(data)
    #section1.section1.top-slider
        .top-slider__slide(style="background-image: url('static/img/general/slide1.jpg');")
            .top-slider__centerize
                .container.container2
                    .top-slider__text-wrap
                        span.top-slider__title1 Личные финансы
                        span.top-slider__heading1 Основы планирования и управления капиталом
                        span.top-slider__course-programm ОБЩАЯ ПРОГРАММА КУРСА:
                        .top-slider__inner-text
                            p Введение
                            p Личный финансовый план
                            p Рынок финансовых продуктов
                            p Цели и задачи управления капиталом
                            span.btn.top-slider__btn ЗАПИСАТЬСЯ НА КУРС
                            .top-slider__time-wrap
                                span 31.12.2017
                                span 12.00
        .top-slider__slide(style="background-image: url('static/img/general/slide2.jpg');")
            .top-slider__centerize
                .container.container2
                    .top-slider__text-wrap
                        span.top-slider__title2 Инновационные подходы
                        span.top-slider__heading2 к инвестированию
                        span.top-slider__course-programm ОБЩАЯ ПРОГРАММА КУРСА:
                        .top-slider__inner-text
                            p Консервативный подход
                            p Сбалансированный подход
                            p Агрессивный подход
                            span.btn.top-slider__btn ЗАПИСАТЬСЯ НА КУРС
                            .top-slider__time-wrap
                                span 31.12.2017
                                span 12.00
        .top-slider__slide(style="background-image: url('static/img/general/slide3.jpg');")
            .top-slider__centerize
                .container.container2
                    .top-slider__text-wrap
                        span.top-slider__title3 Выбор надежных и прибыльных
                        span.top-slider__heading3 Активов для инвестиций
                        span.top-slider__course-programm ОБЩАЯ ПРОГРАММА КУРСА:
                        .top-slider__inner-text
                            p Анализ и прогноз динамики мировых финансовых рынков
                            p Текущая ситуация на рынке FOREX и рынке криптовалют
                            p Основные направления инвестирования в 2017-2018гг.
                            span.btn.top-slider__btn ЗАПИСАТЬСЯ НА КУРС
                            .top-slider__time-wrap
                                span 31.12.2017
                                span 12.00

