mixin section5(data)
    #section5.section5
        .container
            h2.section5__title Предлагаем вашему вниманию следующие курсы
            span.section5__info «Личные финансы. Основы планирования и управления капиталом»
            .section5__navslider
                .section5__navslide.navslide1
                    .section5__text-wrap
                        span Личные финансы
                        p Основы планирования и управления капиталом
                .section5__navslide.navslide2
                    .section5__text-wrap
                        span Инновационные подходы к инвестированию
                        p Особенности и нюансы выбора финансовых инструментов

                .section5__navslide.navslide3
                    .section5__text-wrap
                        span Выбор надежных и прибыльных активов для инвестиций
                        p Методика принятия торгового решения. Текущая ситуация на мировых финансовых рынках
            .section5__mainslider
                .section5__mainslide.mainslide1
                    .section5__flex-wrapper
                        .section5__mainslide-wrap
                            .section5__text-wrap2
                                span Курс 1
                                p Личные финансы. Основы планирования и управления капиталом
                            .section5__content-wrap
                                .section5__time-wrap
                                    .section5__date 31.12.2017
                                    .section5__time 12:00
                                    .section5__ratio Сложность
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                .section5__text-wrap3
                                    p В рамках курса «Личные финансы. Основы планирования и управления капиталом» будут рассмотрены различные варианты по разработке собственного финансового плана, а также предложены наиболее оптимальные
                                span.btn.section5__btn ЗАПИСАТЬСЯ на курс
                            .section5__content-wrap2
                                span Общая программа курса:
                                .section5__text-wrap4
                                    p Введение
                                    p Личный финансовый план
                                    p Рынок финансовых продуктов
                                    p Цели и задачи управления капиталом
                            span.btn.section5__btn2 ЗАПИСАТЬСЯ на курс
                .section5__mainslide.mainslide2
                    .section5__flex-wrapper
                        .section5__mainslide-wrap
                            .section5__text-wrap2
                                span Курс 2
                                p Инновационные подходы к инвестированию. Особенности и нюансы выбора финансовых инструментов
                            .section5__content-wrap
                                .section5__time-wrap
                                    .section5__date 31.12.2017
                                    .section5__time 12:00
                                    .section5__ratio Сложность
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                .section5__text-wrap3
                                    p В рамках курса «Инновационные подходы к инвестированию. Особенности и нюансы выбора финансовых инструментов» будут рассмотрены 3 подхода к инвестированию с учетом динамики доходности различных классов активов за предыдущие годы и предложены варианты комбинации данных подходов в текущих условиях.
                                span.btn.section5__btn Записаться на курс
                            .section5__content-wrap2
                                span Общая программа курса:
                                .section5__text-wrap4
                                    p Консервативный подход.
                                    p Сбалансированный подход.
                                    p Агрессивный подход
                            span.btn.section5__btn2 ЗАПИСАТЬСЯ на курс
                .section5__mainslide.mainslide3
                    .section5__flex-wrapper
                        .section5__mainslide-wrap
                            .section5__text-wrap2
                                span Курс 3
                                p Выбор надежных и прибыльных активов для инвестиций. Методика принятия торгового решения.  Текущая ситуация на мировых финансовых рынках
                            .section5__content-wrap
                                .section5__time-wrap
                                    .section5__date 31.12.2017
                                    .section5__time 12:00
                                    .section5__ratio Сложность
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                        .section5__scale
                                .section5__text-wrap3
                                    p В рамках курса «Выбор надежных и прибыльных активов для инвестиций. Методика принятия торгового решения. Текущая ситуация на мировых финансовых рынках» будет рассмотрена динамика цен на различных классах инвестиционных активов и предложены торговые идеи на ближайшие месяцы.
                                span.btn.section5__btn Записаться на курс
                            .section5__content-wrap2
                                span Общая программа курса:
                                .section5__text-wrap4
                                    p Анализ и прогноз динамики мировых финансовых рынков
                                    p Текущая ситуация на рынке FOREX и рынке криптовалют
                                    p Основные направления инвестирования в 2017-2018гг.
                            span.btn.section5__btn2 ЗАПИСАТЬСЯ на курс
