mixin header(data)
    header.header
        .container
            .header__wrap
                .header__logo
                .header__nav
                    .header__phone-wrap.header__phone-wrap2
                        .header__phone 8 800 707 78 72
                        span.header__modal-link Заказать звонок
                    a.header__link(href="#section1") Главная
                    a.header__link(href="#section3") Спикер
                    a.header__link(href="#section4") Описание
                    a.header__link(href="#section5") Курсы
                    a.header__link(href="#map") Контакты
                .header__phone-wrap
                    .header__phone 8 800 707 78 72
                    span.header__modal-link Заказать звонок
                .header__btn
                    span.header__stick1
                    span.header__stick2
                    span.header__stick3
