.section3
    display block
    width 100%
    padding-bottom 65px
    background-size cover
    background-position center
    background-repeat no-repeat
    padding-top 59px
    @media (max-width: 959px)
        padding-top 50px
        padding-bottom 50px
    @media (max-width: 760px)
        background-image none !important
        background-color #3e648f
        padding-top 40px
        padding-bottom 0
    &__wrap
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        justify-content space-between
        @media (max-width: 760px)
            flex-direction column
            justify-content flex-start
    &__pic
        display block
        width 31.63%
        max-height 406px
        overflow hidden
        margin-top 36px
        @media (max-width: 959px)
            width 160px
        @media (max-width: 760px)
            width 100px
            margin-top 0
            margin-left auto
            margin-right auto
        img
            max-width 100%
            width 100%
            object-fit cover
    &__text-wrap
        display block
        width 65.99%
        @media (max-width: 959px)
            width calc(100% - 180px)
        @media (max-width: 760px)
            width 100%
    &__title
        display block
        color #ffffff
        font-size 38px
        font-weight 700
        line-height 38px
        padding-bottom 38px
        @media (max-width: 959px)
            font-size 28px
            line-height 28px
            padding-bottom 20px
        @media (max-width: 760px)
            font-size 22px
            text-align center
            line-height 23px
            padding-top 15px
            padding-bottom 15px
    &__author
        display block
        color #ffffff
        font-size 24px
        font-weight 700
        line-height 24px
        padding-bottom 16px
        @media (max-width: 959px)
            font-size 20px
            line-height 23px
            padding-bottom 10px
        @media (max-width: 760px)
            font-size 16px
            text-align center
            line-height 24px
            padding-bottom 15px
    &__job
        display block
        color #b3b3b3
        line-height 15px
        padding-bottom 19px
        @media (max-width: 760px)
            font-size 15px
            line-height 15px
            text-align center
    &__p-wrap
        display block
        width 100%
        p
            display block
            position relative
            color #ffffff
            padding-left 25px
            padding-bottom 9px
            &:before
                position absolute
                content ''
                width 13px
                height 10px
                top 7px
                left 2px
                background url('../img/general/Check_white.svg') no-repeat center
    &__books
        display block
        color #ffffff
        font-size 24px
        line-height 24px
        padding-top 14px
        padding-bottom 13px
        @media (max-width: 959px)
            font-size 20px
            line-height 22px
        @media (max-width: 760px)
            font-size 16px
            text-align center
            line-height 24px
            padding-bottom 15px
    &__p-wrap2
        display block
        width 100%

        padding-bottom 26px
        p
            display block
            color #ffffff
            position relative
            padding-bottom 8px
            padding-left 22px
            &:before
                position absolute
                content ''
                top 10px
                left 5px
                width 4px
                height 4px
                border-radius 50%
                background #ffffff
    &__awards-title
        display block
        color #ffffff
        font-size 24px
        line-height 24px
        padding-top 32px
        padding-bottom 9px
        border-top 1px solid rgba(255, 255, 255, 0.4)
        @media (max-width: 760px)
            text-align center
            padding-bottom 20px
    &__award-wrap2
        display block
        width 100%
        padding-left 370px
        @media (max-width: 1215px)
            padding-left 0
    &__awards-wrap
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        justify-content space-between
        @media (max-width: 760px)
            width 220px
            margin-left auto
            margin-right auto
            padding-bottom 80px
        .slick-dots
            display block
            @media (max-width: 760px)
                position absolute
                display -webkit-flex
                display -moz-flex
                display -ms-flex
                display -o-flex
                display flex
                bottom 30px
                left 50%
                transform translateX(-50%)
        li
            margin-right 15px
            &:last-child
                margin-right 0
        button
            border none
            background #a2b0c7
            border-radius 50%
            font-size 0
            width 16px
            height 16px
            padding 0
    &__award-item
        display block
        width 31%
        @media (max-width: 760px)
            width 100%
        p
            display block
            color #cccccc
            font-weight 500
            text-transform uppercase
            @media (max-width: 760px)
                text-align center
        span
            display block
            color #999999
            @media (max-width: 760px)
                text-align center
    &__awards-pic
        display flex
        flex-wrap wrap
        width 110px
        height 103px
        max-height 103px
        overflow hidden
        justify-content center
        align-items center
        @media (max-width: 760px)
            margin-left auto
            margin-right auto
        img
            width 100%
            max-width 100%
            object-fit cover

.section3__awards-wrap ul li.slick-active button
    background #ffffff
