mixin section3(data)
    #section3.section3(style="background-image: url('static/img/general/section3.jpg');")
        .container
            .section3__wrap
                .section3__pic
                    img(src="static/img/general/section3.png" alt="author")
                .section3__text-wrap
                    span.section3__title Ведущий и автор
                    span.section3__author Николай Александрович Ширяев
                    span.section3__job Бизнес-тренер
                    .section3__p-wrap
                        p Руководитель департамента обучения МФЦ.
                        p Автор цикла статей и пособий по разработке торговых систем, индивидуальных обучающих курсов и мастер-классов по различным аспектам торговли на финансовых рынках.
                        p Имеет опыт преподавания дополнительных расширенных курсов и программ по тематике работы на мировых финансовых рынках на различных выставках, форумах, в том числе для слушателей программ MBA.
                        p Кандидат педагогических наук
                    span.section3__books Автор книг:
                    .section3__p-wrap2
                        p «Консервативный скальпинг intraday» (2006)
                        p «Консервативный скальпинг intraday – новые измерения внутридневной торговли» (2010)
                .section3__award-wrap2
                    span.section3__awards-title Награды
                    .section3__awards-wrap
                        .section3__award-item
                            .section3__awards-pic
                                img(src="static/img/general/award1.png" alt="award")
                            p Эффективность инвестиционных стратегий
                            span Финансовый олимп 2015-2016
                        .section3__award-item
                            .section3__awards-pic
                                img(src="static/img/general/award2.png" alt="award")
                            p Полноценное сопровождение инвестиций
                            span Финансовый олимп 2015-2016
                        .section3__award-item
                            .section3__awards-pic
                                img(src="static/img/general/award3.png" alt="award")
                            p Надежный финансовый консультант
                            span Финансовый олимп 2015-2016
