mixin policy(data)
    .policy
      .policy__close
      .policy__title Политика конфиденциальности
      .policy__block
        ol
          li
            | Обработке подлежат только персональные данные, которые отвечают целям их обработки.
          li
            | Содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям
            | обработки. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным
            | целям их обработки.
          li В соответствии с Политикой Компании обработка персональных данных необходима в целях:
            ul.sqare

              li
                | защиты жизни, здоровья или иных жизненно важных интересов персональных данных Контрагентов
                | Партнеров, если получение их согласия данных невозможно;
              li
                | исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому
                | является Компания или Контрагент, в том числе в случае реализации Компанией своего права на
                | уступку прав (требований) по такому договору, а также для заключения договора по инициативе
                | Компании или Контрагента, или договора, по которому Компания или Контрагент будет являться
                | выгодоприобретателем или поручителем;
              li
                | опубликования или обязательного раскрытия персональных данных Контрагентов Партнеров в
                | соответствии с законодательством;
              li
                | продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с
                | потенциальными Контрагентами с помощью средств связи.
          li
            | Обработка персональных данных должна осуществляться на законной и справедливой основе.
          li
            | Обработка персональных данных должна ограничиваться достижением конкретных, заранее определенных и
            | законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора
            | персональных данных.
          li
            | При обработке персональных данных должны быть обеспечены точность персональных данных, их
            | достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных
            | данных. Оператор персональных данных должен принимать необходимые меры либо обеспечивать их принятие
            | по удалению или уточнению неполных или неточных данных.
          li
            | Хранение персональных данных осуществляется Компанией, а также лицами, указанными в частях 5 и 6
            | статьи V Политики Компании, в документарной и (или) электронной формах, в течение срока, который
            | составляет не менее 5 лет. Более продолжительный срок хранения персональных данных может быть
            | установлен в договорах, стороной которых, выгодоприобретателем или поручителем по которым является
            | Контрагент.
          li
            | Обработка персональных данных Контрагентов Партнеров осуществляется с их согласия на обработку таких
            | персональных данных, за исключением случаев, предусмотренных законодательством и настоящей Политикой
            | Компании.
          li
            | Контрагенты Компании выражают согласие на обработку их персональных данных Оператором персональных
            | данных, за исключением иных Контрагентов и их физических лиц, а также третьих лиц в результате их
            | неправомерного или случайного доступа к персональным данным.
          li
            | Оператор персональных данных, осуществляющий обработку персональных данных по поручению Компании, не
            | обязан получать согласие Контрагентов на обработку их персональных данных.
          li
            | В случае, если Компания поручает обработку персональных данных другому Оператору персональных
            | данных, ответственность перед Контрагентами за действия указанного лица несет Компания. Оператор
            | персональных данных, осуществляющий обработку персональных данных по поручению Компании, несет
            | ответственность перед Компанией.
          li Оператор персональных данных, ответственный за организацию обработки персональных данных, в            частности, обязан:
            ul.sqare

              li
                | осуществлять внутренний контроль за соблюдением им и его работниками законодательства о
                | персональных данных, в том числе требований к защите персональных данных;
              li
                | доводить до сведения работников Оператора персональных данных положения законодательства о
                | персональных данных, международных правовых актов, настоящей Политики Компании по вопросам
                | обработки персональных данных, требований к защите персональных данных;
              li
                | организовывать прием и обработку обращений и запросов Контрагентов или их представителей и
                | (или) осуществлять контроль за приемом и обработкой таких обращений и запросов;
              li
                | не передавать иным лицам исполнение принятых на себя обязательств в какой бы то ни было
                | форме.
          li
            | Контрагент и его физические лица, а также третьи лица, которые в результате неправомерного или
            | случайного доступа к персональным данным, могут осуществить их обработку, несут юридическую
            | ответственность перед Компанией и (или) Оператором персональных данных.
