mixin section2(data)
    .section2
        .container
            h1.section2__title
                span Бизнес-тренинг
                span «Прибыль без лишних слов»
            p Успех в любом деле всегда зависит от способности хладнокровно принимать важные решения. Финансовые инвестиции требуют спокойствия и точного расчета. Как остаться невозмутимым в отношении личных финансов и при этом получить стабильную прибыль, знает Николай Ширяев — признанный эксперт в вопросах финансового планирования и прибыльных инвестиций.
