.section2
    display block
    width 100%
    padding-top 52px
    padding-bottom 63px
    @media (max-width: 959px)
        padding-bottom 52px
    @media (max-width: 760px)
        padding-top 35px
        padding-bottom 35px
    p
        display block
        font-weight 400
        font-size 18px
        line-height 28px
        text-align center
        max-width 840px
        margin-left auto
        margin-right auto
        @media (max-width: 959px)
            font-size 15px
            line-height 23px
        @media (max-width: 760px)
            max-width none
    &__title
        display block
        margin-left auto
        margin-right auto
        text-align center
        font-size 45px
        font-weight 700
        line-height 49px
        padding-bottom 22px
        @media (max-width: 959px)
            font-size 28px
            line-height 32px
        @media (max-width: 760px)
            font-size 22px
            line-height 23px
        span
            display block

