include ../top-slider/top-slider.pug
include ../section2/section2.pug
include ../section3/section3.pug
include ../section4/section4.pug
include ../section5/section5.pug
include ../section6/section6.pug
include ../section7/section7.pug
include ../section8/section8.pug
include ../section9/section9.pug
mixin main(data)
    main.main
        +top-slider
        +section2
        +section3
        +section4
        +section5
        +section6
        +section7
        +section8
        +section9
